/node_modules
node_modules/
.DS_Store

# local env files
.env.local
.env.*.local
.env


package-lock.json

# notes
notes.md
save.md

# Build files
/dist

/notes.md

/src/AES/checklist.md

# sesitive files

src/blowfish/blowfish-encrypted-decrypted.ts

src/two-fish/two-fish-encrypted-decrypted.ts

src/kalo-skribi
src/kalo-skribi/*

/ideas
src/custom-algos